<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Blockchain MD5</title>
    <link rel="icon" href="favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>




      <div class="row main-container">

        <div class="col col-md-7 col-sm-7 title-container">
          <main class="px-3">
      <h1>Blockchain with md5</h1>
      <p class="lead">To make it simple, Simple explanation for hashing is something that would make our data safe by encrypting (hashing) it to fixed length jumbled text inside a block that connected to eachother, thus it is called chain.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
        </div>

      </div>
      <canvas class="background">  </canvas>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="js/particles.min.js"></script>

    <script src="js/particles.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
